/* Colours used:
Primary colour (Orange): #FE8C3A, #FED6B8 (60%)
#C2471C
Secondary colour (Blue): #203b81 */



header {
  padding: 20px 0 16px;
  background-color: #FCEDDD;
  position: fixed;
  box-shadow: 0px 0px 20px #888888;
  width: 100%;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

* {
  box-sizing: border-box;
}

main {
  padding-top: 63px;
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
  }

  h1,h2,h3 {
    line-height: 1.4;
  }

  h1 {
    font-size: 1.8em;
    font-weight: 800;
  }

  h2 {
    font-size: 1.6em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 0em;
  }

  footer {
    background-color: #f3f3f3;
    padding: 1.25em 0;
  }

  img {
    width: 100%;
  }

  a {
    color: #FE8C3A;
    text-decoration: none;
  }

  nav > ul > li > a:visited {
    color: #B64D01 !important;
  } 

  nav > ul > li > a:hover {
    color:#FED6B8
  }

  nav > ul > li > a:focus {
    color:#FED6B8;
    text-decoration: underline;
  }

  nav > ul > li > a:active {
    color:#B64D01 !important
  }



.button {
  display: inline-block;
  background-color: #FE8C3A;
  color: #ffffff;
  font-weight: 500;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 2px solid;
  transition-duration: 0.5s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.7;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #FE8C3A;
  text-transform: uppercase;
  border: 2px solid;
}

.button.contact:hover {
  background-color: #FE8C3A;
  color: #ffffff;
}

/* Layout Styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { 
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#hero {
  background-color: #f3f3f3;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* #hero h1 {
  text-align: center;
} */

#hero span {
  display: block;
}

#work h2 {
  text-align: center;
}

#work h3 {
  margin-top: 0;
}

#about-page h3 {
  margin-top: 0;
}

#contact {
  text-align: center;
}

#about-page img {
  max-width: 300px;
}

#about-page picture {
  display: block;
  text-align: center;
}

.logo {
  max-width: 150px;
  padding-top: 8px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 500;
}

.social svg {
  width: 40px;
}

.social ul {
  list-style-type: none;
  padding: 0;
  }

.social li {
  display: inline;
  margin-right: 1em;
  }

[class*="col-"] {
  float: left;
  padding: 0 12px;
}

/* Breakpoints */

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .logo {
    min-width: 250px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul {
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 18px;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-4 {
    width: 33.33%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }

  main {
    padding-top: 80px;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }
}

/* transition */

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}